<!-- 
<nav class="sidebar-section">
    <ul class="sidenav">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Catelog</a></li>
    </ul>
</nav> -->
<div class="left-sidebar">
  <div class="header-logo">
    <a href="#"><img src="assets/images/Logo_white.png" width="250"></a>
  </div>
  <ul id="slide-out" class="sidenav">
    <li><a href="#">Dashboard</a></li>
        <li><a href="#">User Management</a></li>
        <li><a href="#">Product</a></li> 
  </ul>
  
        
</div>
  