<div class="main-container">
    <div class="row title-box">
        <div class="col m4 pl-0 page-title">
            <h5>Banner Management</h5>
        </div>

    </div>
    <div class="card">
        <div class="col s12 table-responsive">
            <table class="table striped">
                <thead>
                    <tr>
                        <th class="xs-sec center">S No</th>
                        <th class="sm-sec">Banner Name</th>
                        <th>Banner Descrption</th>
                        <th class="center">Banner Image</th>
                        <th class="sm-sec center"> Action</th>
                    </tr>
                </thead>
                <tbody *ngIf='bannerLists.length != 0'>
                    <tr *ngFor='let i=index let banList of bannerLists | paginate:{itemsPerPage: itemsPerPage, currentPage: noOfpages,totalItems:collection}'>
                        <td class="center">{{(noOfpages - 1 ) * itemsPerPage + i + 1}}</td>
                        <td>{{banList.name}}</td>
                        <td style="display: block;width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;line-height: 55px;">{{banList.description}}</td>
                        <td class="sm-sec center">
                            <div *ngIf='!banList.imageName'>
                                <a class="act-btn pl-2"><i class="small material-icons icon-airplay">block</i></a>

                            </div>
                            <div *ngIf='banList.imageName'>
                                <img [attr.src]="catpath+banList.imageName" width="50px" height="50px" />

                            </div>

                        </td>

                        <td class="center">
                            <a (click)="create($event,banList.id,true)" class="act-btn"><i class="small material-icons icon-view">remove_red_eye</i></a>
                            <a (click)="create($event,banList.id,false)" class="act-btn pl-2"><i class="small material-icons icon-edit">edit</i></a>
                            <a (click)="deleteCat(banList.id)" class="act-btn pl-2"><i class="small material-icons icon-dele">delete</i></a>
                            <!-- <a (click)="blockUser(data.id)"
                   class="act-btn pl-2"><i class="small material-icons icon-airplay">block</i></a>
              -->
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf='bannerLists.length == 0'>
                    <tr>
                        <td colspan="6" class="font-weight-medium text-center">No Data Found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='pagination-section mt-3' *ngIf='bannerLists.length > 0'>
    <pagination-controls previousLabel="" nextLabel=""> </pagination-controls>
</div>
<div *ngIf="hideShow" id="mySidepanel" class="outer-show-sec">

    <div class="show-form animate__animated animate__fadeInRight">
        <!-- <button (click)="hideShowForm()" class="close-button"><i class="material-icons">close</i></button> -->
        <app-add-banner [editId]="editId" [isView]="isView" (bannerForm)="hideShowForm()"></app-add-banner>


    </div>
</div>
<div class="button-section fixed-action-btn direction-top" (click)="create($event,'',false)">
    <button class="btn-floating btn-primary btn-icon-add btn-large"><i class="material-icons">add</i></button>
</div>