<div class="main-container sidenav-rt">
    <div class="row title-box">
        <!-- <div class="col s12 breadcrumb-section">          
                <li class="breadcrumb"><a href="#!" >User Management</a></li>
                <li class="breadcrumb active">View Profile</li>
         </div> -->
        <div class="col s5 page-title">
            <h5>Create User Management</h5>
        </div>
        <div class="col s7 ml-auto d-flex flex-row justify-content-end align-items-center">
            <button class="btn btn-secondary mr-2 waves-effect"><i class="material-icons left">edit</i>Edit Profile</button>
            <button class="btn btn-danger mr-2 waves-effect"><i class="material-icons left">delete</i>Delete</button>
            <button class="btn btn-block waves-effect"><i class="material-icons left">block</i>Block User</button>
        </div>
        
        
    </div>
    <div class="row main-section p-0">
        <div class="card col s4 inner-left">
            <div class="profile-image center mt-2">
                <img class="circle responsive-img" src="assets/images/profile_user.jpg" width="90" height="90"/>
            </div>
            <div class="profile-detl p-3">
                <div class="row">
                    <label class="col s6">User Id</label>:
                    <span>002</span>
                </div>
                <div class="row">
                    <label class="col s6">User Name</label>:
                    <span>Stephan</span>
                </div>
                <div class="row">
                    <label class="col s6">Account Type</label>:
                    <span>Buyer</span>
                </div>
                <div class="row">
                    <label class="col s6">Purchased On</label>:
                    <span>07/05/20</span>
                </div>
                <div class="row">
                    <label class="col s6">Total Purchase</label>:
                    <span>112</span>
                </div>
                <div class="row">
                    <label class="col s12 pb-2">Status</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col s8 inner-right">
            <!-- <div>
                <tabset>
                  <tab heading="Basic title" id="tab1">Basic content</tab>
                  <tab heading="Basic Title 1">Basic content 1</tab>
                  <tab heading="Basic Title 2">Basic content 2</tab>
                </tabset>
              </div> -->
              
              <div class="col s12 p-0">
                <table class="table striped responsive-table">
                  <thead>
                    <tr>
                      <th class="">Product Id</th>
                      <th> Product Name</th>
                      <th class="sm-sec"> Category</th>
                      <th class="md-sec"> Image</th>
                      <th class="md-sec"> Price</th>
                      <th class=""> Unit</th>
                      <th class=""> Total Amount</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>6574</td>
                    <td>cement</td>
                    <td>goods</td>
                    <td>--</td>
                    <td>100</td>

                    <td>7</td>
                    <td>700</td>

                </tr>
                <tr>
                    <td>6574</td>
                    <td>cement</td>
                    <td>goods</td>
                    <td>--</td>
                    <td>100</td>

                    <td>7</td>
                    <td>700</td>

                </tr>
                      </tbody>
                      </table>
                      </div>
        </div>
    </div>

    </div>