<perfect-scrollbar class="">
    <div class="main-container sidenav-rt">
        <div class="row page-title">
            <div *ngIf="!categoryId && !isView" class="col s9 ">
                <h5><b>Create Category Management</b></h5>
            </div>
            <div *ngIf="categoryId && !isView" class="col s9 ">
                <h5><b>Edit Category Management</b></h5>
            </div>
            <div *ngIf="isView" class="col s9 ">
                <h5><b>View Category Management</b></h5>
            </div>
            <div class="col s3 p-0">
                <button class='btn-icon btn-block btn-close right' (click)='listPage()'><i class="material-icons">close</i></button>

            </div>
        </div>
        <div class=" main-section" *ngIf="!isView">
            <form role='form' [formGroup]='categoryManagementForm' class="common-form" [class]="isView ? 'view-section p-0': ''">
                <div *ngIf="!isView" class="input-field col s12">
                    <label>{{constants.CATEGORY.TITLE}}</label>
                    <input class="form-control" id="title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && check.title.errors }" placeholder={{constants.CATEGORY.TITLES}} required />
                    <div *ngIf="submitted && check.title.errors" class="invalid-feedback">
                        <div *ngIf="check.title.errors.required">{{constants.CATEGORY.TITLEERROR}}</div>
                    </div>
                </div>

                <!-- <div *ngIf="isView" class="input-field col s12">
                    <label class="field-label">{{constants.CATEGORY.TITLE}} :</label>
                    <p *ngIf="isView">{{this.categoryManagementForm.value.title}}</p>

                </div> -->
                <div *ngIf="!isView" class="input-field col s12">
                    <label>{{constants.CATEGORY.TYPE}}</label>
                    <select class='browser-default' (change)='onSelect($event)' formControlName='type'>
                <option disabled  value="">--Select Category Type--</option>
                  <option value="category">Category</option>
                  <!-- <option value="service">Service</option> -->
                </select>
                    <div class="invalid-feedback" *ngIf="submitted && check.type.errors && check.type.errors.required">{{constants.CATEGORY.TYPEERROR}}</div>
                </div>
                <!-- <div *ngIf="isView" class="input-field col s12">
                    <label class="field-label">{{constants.CATEGORY.TYPE}} :</label>
                    <p *ngIf="isView">{{this.categoryManagementForm.value.type}}</p>

                </div> -->
                <div *ngIf="!isView" class="input-field col s12 text-box">
                    <label>{{constants.CATEGORY.DES}}</label>
                    <textarea class="materialize-textarea" id="description" formControlName="description" [ngClass]="{ 'is-invalid': submitted && check.description.errors }" placeholder={{constants.CATEGORY.DESCS}} required></textarea>
                    <div *ngIf="submitted && check.description.errors" class="invalid-feedback">
                        <div *ngIf="check.description.errors.required">{{constants.CATEGORY.DESCERROR}}</div>
                    </div>
                </div>

                <!-- <div *ngIf="isView" class="input-field col s12">
                    <label class="field-label">{{constants.CATEGORY.DES}} :</label>
                    <p *ngIf="isView">{{this.categoryManagementForm.value.description}}</p>
                </div> -->
                <div class="input-field col s12">
                    <label class="field-label">Image</label>
                    <div class="image-upload-sec">
                        <div class="img-prev">
                            <span *ngIf="!previewUrl" class="prev-logo center-align-content"> <i class="material-icons">image</i></span>
                            <span class="image-preview mb-3" *ngIf="previewUrl">
                            <img [src]="previewUrl"  height="95"
                            width="120" />
                        </span>
                        </div>

                        <div *ngIf="!isView" class="custom-file">
                            <label class="">
                        
                        <input type="file" name="catImage" id="uploads" formControlName="catImage" (change)="fileProgress($event)" accept="image/*" />
                   
                            <span *ngIf="imagename" class="file-custom">Update Image </span>
                            <span *ngIf="!imagename" class="file-custom">Upload Image </span>
                    </label>
                            <a (click)='deleteImage()' class="delete-img">Delete</a>


                        </div>


                    </div>
                    <div *ngIf="submitted && (!previewUrl && this.fileData == null)" class="invalid-feedback">
                        Image is required
                    </div>
                </div>


            </form>
            <div class='buttom-section text-right mt-3'>
                <button *ngIf="!isView" class='btn btn-primary btn-large waves-effect waves-light' (click)='addCategory()'>Save</button>
                <button *ngIf="isView" (click)="changeEditPage()" class='btn btn-primary btn-large waves-effect waves-light' (click)='addCategory()'>Edit</button>
                <button class='btn btn-default ml-2 btn-large' (click)='listPage()'>Cancel</button>
            </div>
        </div>
        <div class=" main-section" *ngIf="isView">
            <table>

                <tbody>
                    <tr>
                        <td class="center" style="width: 200px;">
                            <h6><b>{{constants.CATEGORY.TITLE}} :</b></h6>

                        </td>
                        <td>
                            <h6>{{this.categoryManagementForm.value.title}}</h6>

                        </td>

                    </tr>
                    <tr>
                        <td class="center" style="width: 200px;">
                            <h6><b>{{constants.CATEGORY.TYPE}} :</b></h6>
                        </td>
                        <td>
                            <h6>{{this.categoryManagementForm.value.type}}</h6>
                        </td>

                    </tr>
                    <tr>
                        <td class="center" style="width: 200px;">
                            <h6><b>{{constants.CATEGORY.DES}} :</b></h6>
                        </td>
                        <td>
                            <h6>{{this.categoryManagementForm.value.description}}</h6>
                        </td>

                    </tr>
                    <tr>
                        <td class="center" style="width: 200px;">
                            <h6><b>Image :</b></h6>

                        </td>
                        <td>
                            <div class="img-prev">
                                <span *ngIf="!previewUrl" class="prev-logo center-align-content"> <i class="material-icons">image</i></span>
                                <span class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl"  height="120"
                                width="120" />
                            </span>
                            </div>

                        </td>

                    </tr>


                </tbody>

            </table>
            <div class='buttom-section text-right mt-3'>
                <button *ngIf="isView" (click)="changeEditPage()" class='btn btn-primary btn-large waves-effect waves-light' (click)='addCategory()'>Edit</button>
                <button class='btn btn-default ml-2 btn-large' (click)='listPage()'>Cancel</button>
            </div>
        </div>
    </div>
</perfect-scrollbar>