body {
    background-color: #F5F5F5;
    padding-top: 30px;
}

.card-panel {
    min-height: 450px;
    margin: 0;
}

.highcharts-root {
    font-family: "Roboto" !important;
}

.highcharts-button-symbol {
    display: none;
}

.highcharts-title {
    font-size: 1.5rem !important;
}